*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 22px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    height: 300px;
    width: 260px;
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 25px;
    transition: all ease 0.2s;

}
.card:hover{
    transform: translate(-0%,-3%);
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}
.card h3{
    font-size: 26px;
    white-space: nowrap;
}
.card h4{
    font-size: 16px;
    margin-top: 10px;
    color: crimson;
    margin-bottom: 10px;
}
.card p{
    font-size: 14px;
    padding: 5px 5px;
}