*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
h2{
    text-align: center;
    margin-top: 20px;
}
.form{
    border: 1px solid black;
    width: 70%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5vh;
}
form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form input[type=text]{
    width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.form input[type=button]{
    width: 10%;
    padding: 10px;
    cursor: pointer;
}

.tasklist{
    height: 100px;
    width: 70%;
    border: 1px solid black;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}