*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    padding: 40px;
    background-color: #333;
}
#text{
    width: 300px;
    height: 200px;
    padding: 10px;
}
span,p{
    color: white;
}
