*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body {
    transition: background-color 1s ease, color 1s ease;
}
.btn{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.btn button{
    padding: 20px 40px;
    background-color: rgb(13, 13, 12);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.btn button:active{
    scale: .95;
}