*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    padding: 40px;
    background-color: #333;
}
.slider{
    height: 300px;
    width: 500px;
    border: 1px solid black;
}
button{
    padding: 10px 20px;
    margin: 20px;
}